$bg_color: #f3ece9;
$black: #252525;
$purple: #e6b8f8;
$orange: #f9a94d;
$green: #bdcf9a;

$easeio: cubic-bezier(0.77, 0, 0.24, 1);
$trans_width: width 0.3s $easeio;
$trans_transform: transform 0.3s $easeio;

$tablet: 600px;
$desktop: 900px;
$max_width: 1400px;

$main_bdr: 2px solid;
$half_bdr: 1px solid;

$btn_radius: 0 50px 0 50px;
$btn_radius_rev: 50px 0 50px 0;
