@import "../abstracts/";

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $green;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transition: width 0.5s cubic-bezier(0.7, -0.47, 0.24, 1.89), height 0.5s cubic-bezier(0.7, -0.47, 0.24, 1.89);

  transform: translate(var(--new-x), var(--new-y));
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    width: 0;
    height: 0;
    transition: width 0.5s $easeio, height 0.5s $easeio;
    fill: $bg_color;
  }
}

.expand {
  transition: width 0.5s cubic-bezier(0.7, -0.47, 0.26, 1.3), height 0.5s cubic-bezier(0.7, -0.47, 0.26, 1.3);
  width: 70px;
  height: 70px;

  & svg {
    width: 50%;
    height: 50%;
  }
}
