@import "../abstracts";

// generelle form regler

input[type="text"],
input[type="email"] {
  background-color: transparent;
  border-bottom: $main_bdr $purple;
}

#fil_label {
  display: block;
  margin-bottom: 20px;
}

textarea {
  width: 90%;
  max-width: 90%;
  resize: vertical;
  margin-left: var(--main_margin);
  margin-right: var(--main_margin);
  min-height: 20ch;
  font-family: sans-serif;
  padding: 2ch;
  font-size: 1rem;
  border: 2px solid $purple;
  background-color: $bg_color;
}

// frivillig form

#form_wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 50vw;
  justify-content: space-between;
}
#frivillig_signup {
  background-color: $bg_color;
  border: $main_bdr $purple;
  border-radius: $btn_radius;
  & .form_ctrl {
    display: grid;
  }

  & .form_ctrl2 {
    display: flex;
    align-items: center;
    margin: var(--hlf_margin) 20px calc(1.5 * var(--main_margin)) 20px;
  }

  & fieldset {
    padding: var(--main_margin);
    margin-top: 20px;
  }
  & input {
    padding: 0 var(--main_margin);
    margin: var(--hlf_margin) 20px calc(1.5 * var(--main_margin)) 20px;
    font-size: var(--para);

    &[type="text"],
    &[type="email"] {
      width: 100%;
    }

    &[type="radio"] {
      appearance: none;
      padding: 0;
      margin: 0;
      display: block;
    }
    &#frivillig_fil {
      margin: 0;
    }
  }
  & input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 2px;
    left: -1px;
    position: relative;
    background-color: $bg_color;
    content: "";
    display: inline-block;
    visibility: visible;
    border: $main_bdr $purple;
  }
  & input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 2px;
    left: -1px;
    position: relative;
    background-color: $purple;
    content: "";
    display: inline-block;
    visibility: visible;
    border: solid 2px $purple;
  }

  #submit_wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    & input[type="submit"] {
      appearance: none;
      background-color: $purple;
      color: $bg_color;
      margin-top: 40px;
      border-radius: $btn_radius_rev;
      font-size: 2rem;
      cursor: pointer;
      padding: 10px 40px;
      position: relative;
    }
  }

  & label {
    margin-left: 20px;
  }
}

#ansoegning_popup {
  padding: calc(var(--main_margin) * 2);
  border: $main_bdr $purple;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg_color;
  display: none;
}

#frivillig_omraade label {
  margin-right: var(--main_margin);
}

@media (min-width: $desktop) {
  .frivillig_form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #form_wrapper {
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    width: 100%;
  }
}

// mailchimp form
