@import "../abstracts";

header {
  position: fixed;
  width: 100%;
  padding: 10px var(--main_margin);
  z-index: 10;
  background-color: $bg_color;
  border-bottom: $main_bdr $purple;

  & #logo {
    width: 70px;
    transform: rotate(-30deg);
  }

  & ul {
    display: flex;
    justify-content: space-between;
    max-width: 1460px;
    margin: 0 auto;
  }

  & > nav > ul {
    align-items: center;
  }

  & li {
    font-size: 1.5rem;
  }

  & .gitter {
    position: absolute;
    left: 10vw;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    border: $half_bdr $purple;
    max-width: 500px;
  }
}

.header_margin {
  padding-top: 60px;
}

.menu_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--vh);
  background-color: $bg_color;
  transform: translateX(100%);
  transition: transform 1s $easeio;
  z-index: -1;

  & .menu-top-menu-container {
    width: 100%;
    height: 100%;
  }

  & ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    flex-direction: column;
    padding-right: 10vw;
    max-width: none;
  }

  & .menu-top-menu-container li {
    font-weight: 300;
    font-size: 7vh;
    text-transform: uppercase;
    position: relative;
    text-align: right;
    transition: transform 0s 1s $easeio, opacity 0s 1s $easeio;
    opacity: 0;
    transform: translateX(100%);
    font-family: "gallery_modernregular", sans-serif;

    &:not(:nth-child(1)) {
      margin-top: var(--main_margin);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10%;
      width: 0;
      height: 100%;
      background-color: $purple;
      transition: width 0.3s $easeio;
      z-index: -1;
      border-radius: 8vh 0 8vh 0;
    }

    &:hover::after {
      width: 120%;
    }
  }

  &.open {
    transform: translateX(0);
    transition: transform 1s 0.8s $easeio;

    & li {
      transition: transform 0.3s var(--delay) $easeio, opacity 0.3s var(--delay) $easeio;
      transform: translateX(0);
      opacity: 1;
    }
  }
}

//
//
// ----- HEADER COLORS EFFECT -----

.header_clr,
.loading {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $purple;
  transition: transform 1.5s $easeio;
  transform: translateX(100%);
  z-index: -1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    background-color: $orange;
    transition: transform 1.2s 0.6s $easeio;
    transform: translateX(50%);
  }

  &::after {
    background-color: $green;
    transition: transform 0.9s 0.6s $easeio;
    transform: translateX(100%);
  }

  &.open {
    transform: translateX(0);

    &::before,
    &::after {
      transform: translateX(0);
    }

    &::before {
      transition-delay: 0.3s;
    }
  }
}

.loading {
  z-index: 100;
}

//
//
// ----- LOGO -----

.menu-logo-container a {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../../imgs/kurs_logo.svg");
  background-size: cover;
}

//
//
// ----- MENU BTN -----
#menu_btn {
  display: inline-block;
  & .strokes {
    display: inline-block;
    width: 25px;
    height: 20px;
    margin: 0 2px;
    position: relative;

    & span {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      left: 50%;
      background-color: $black;
      animation-duration: 0.6s;
      animation-fill-mode: both;
    }

    & .top {
      transform: translate(-50%, -7px);
    }
    & .center {
      transform: translate(-50%, 0);
    }
    & .bottom {
      transform: translate(-50%, 7px);
    }
  }

  &.open,
  &.closed {
    & .top {
      animation-name: kf_stroke_top;
    }
    & .center {
      animation-name: kf_sroke_center;
    }
    & .bottom {
      animation-name: kf_sroke_bottom;
    }
  }

  &.closed .strokes span {
    animation-direction: reverse;
  }
}

@keyframes kf_stroke_top {
  0% {
    transform: translate(-50%, -7px);
    animation-iteration-count: cubic-bezier(0.77, -0.47, 0.24, 1.02);
  }
  50% {
    transform: translate(-50%, 0px);
    animation-timing-function: cubic-bezier(0.86, 0.02, 0.28, 1.34);
  }
  100% {
    transform: translate(-50%, 0px) rotate(45deg);
  }
}

@keyframes kf_sroke_center {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 0);
    animation-timing-function: cubic-bezier(0.86, 0.02, 0.28, 1.34);
  }
  100% {
    transform: translate(-50%, 0px) rotate(45deg);
  }
}

@keyframes kf_sroke_bottom {
  0% {
    transform: translate(-50%, 7px);
    animation-iteration-count: cubic-bezier(0.77, -0.47, 0.24, 1.02);
  }
  50% {
    transform: translate(-50%, 0);
    animation-timing-function: cubic-bezier(0.86, 0.02, 0.28, 1.34);
  }
  100% {
    transform: translate(-50%, 0px) rotate(-45deg);
  }
}

@media (min-width: $tablet) {
  header {
    border-bottom: none;
  }
}
