@import "../abstracts";

.mode_pop_up {
  display: none;
  position: fixed;
  width: 100%;
  height: var(--vh);
  z-index: 100;
  background-color: $bg_color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--main_margin);

  border: 5px solid $green;

  & .welcome {
    margin-bottom: 40px;
  }

  & div {
    margin-top: 40px;
  }

  & button {
    font-family: gallery_modernregular, sans-serif;
    font-display: swap;
    font-size: var(--h2);
    border: $main_bdr $green;
    display: block;
    width: 300px;
    padding: var(--main_margin) 0;
    margin-top: var(--main_margin);

    &:nth-child(1) {
      border-radius: $btn_radius;
    }
    &:nth-child(2) {
      border-radius: $btn_radius_rev;
    }

    &::before {
      background-color: $green;
    }
  }

  &.show {
    display: flex;
  }
}

@media (min-width: $tablet) {
  .mode_pop_up div {
    display: flex;
    & .normal_btn {
      margin-right: var(--main_margin);
    }
    & .eco_btn {
      margin-left: var(--main_margin);
    }
  }
}
