@import "../abstracts";

.skabere {
  & .kunst {
    --color: #f9a94d;
  }
  & .musik {
    --color: #e6b8f8;
  }
  & .talks {
    --color: #bdcf9a;
  }

  & h2 {
    padding: 15px 10px;
    text-transform: uppercase;
    background-color: var(--color);
    border-radius: 0 100px 0 0;
  }

  & article:not(:nth-child(1)) {
    margin-top: 40px;
  }
}

.skaber_list {
  border-color: transparent;

  & li span {
    border-color: var(--color);
  }
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 50px 0 50px 0;
  }

  & p {
    bottom: 10%;
    left: 10%;
    background-color: $bg_color;
    padding: 10px 20px;
    border-radius: $btn_radius;
    // border: $main_bdr var(--color);
    &::after {
      display: none;
    }
  }
}

.eco .skaber_list {
  & p,
  & .shape {
    transform: translate(-50%, 50%);
    bottom: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $bg_color;
    border: $main_bdr var(--color);
    border-radius: 100px 0 100px 0;
  }

  & li:hover {
    & .shape {
      transform: translate(-55%, 45%);
    }
  }
}

@media only screen and (min-width: 700px) {
  .skaber_container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .skaber_container ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1100px) {
  .skaber_container ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
