@import "../abstracts";

.table_cont {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.table_cont:nth-child(1) {
  margin-top: 0;
}

table {
  width: 100%;
  border-spacing: 0px;
}

table.installations {
  --bd-clr: #eeab5e;
}

table.friday {
  --bd-clr: #dfbbf4;
}

table.saturday {
  --bd-clr: #c1cd9f;
}

table.sunday {
  --bd-clr: #eeab5e;
}

thead tr {
  text-align: left;
}

tr {
  display: flex;
}

td,
th {
  flex: 1;
  padding: 25px 10px;
  border: $main_bdr var(--bd-clr);
  border-bottom: 0;
}
th {
  font-weight: 500;
  font-size: 1.5rem;
  background-color: var(--bd-clr);
}
td:not(:first-child),
th:not(:first-child) {
  border-left: 0px;
}

tr:last-child td {
  border-bottom: 2px solid var(--bd-clr);
}

.time {
  flex: 0.5;
}
.speciel .time {
  flex: 0.5;
  border-right: 0;
}
.speciel td:not(.time) {
  text-align: center;
}
.speciel td {
  padding: 10px 10px;
  flex: 4;
}

tr:first-child th:last-child {
  border-radius: 0 50px 0 0;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 50px;
}

@media only screen and (min-width: $desktop) {
  .table_cont {
    display: flex;
  }

  .caption {
    text-align: right;
    position: absolute;
    right: 100%;
    top: 0;
    margin-right: 10px;
    transform: rotate(-90deg) translateY(-100%);
    transform-origin: right top;
  }
}

@media only screen and (max-width: $desktop) {
  table:not(.installations) tr:not(.speciel) {
    & td:nth-child(5),
    & th:nth-child(5) {
      display: none;
    }
    & th:nth-child(4) {
      border-radius: 0 50px 0 0;
    }
  }
}

@media only screen and (max-width: $tablet) {
  table:not(.installations) tr:not(.speciel) {
    & td:nth-child(3),
    & th:nth-child(3) {
      display: none;
    }
  }
}
